#topscreen {
    display: flex;
    align-items: top;
    width: 100%;
    justify-content: space-between;

}

h1 {

    margin-top: 3em;
}

p {
    margin: 0;
}

#highscoreSelect {

    float: left;
    color: royalblue;

}

#highscoreSelect:hover {

    float: left;
    color: royalblue;
    cursor: pointer;

}


#time {

    float:right;


}

#quiz {

    display: block;
   text-align: center;
   margin: 1em;
   
}

button {

    background-color: slateblue;
    color: white;
    margin: .25em;
}

.answers {
    
    visibility: hidden;
    align-items: center;

}

#start_quiz {

    margin-top: 1em;
    visibility: visible;

}

#highScores {

    display: block;
    justify-content: center;
}

#initialsInput {

    visibility: hidden;

}